language: cpp
compiler:
  - gcc
  - clang
env:
  - DEFAULT_COLLECTOR=Markcompact
  - DEFAULT_COLLECTOR=Semispace
before_script:
  - sudo apt-get install libffi-dev
  - cmake .
  - make
script: travis/run-tests.sh
notifications:
  recipients:
    - graham@stormbrew.ca
  email:
    on_success: change
    on_failure: always
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
