language: cpp
compiler:
  - gcc
env:
  - DEFAULT_COLLECTOR=Markcompact
  - DEFAULT_COLLECTOR=Semispace
before_script:
  - rvm use 1.8.7
  - gem install json
  - gem install -v 2.3.1 ruby_parser
  - gem install -v 1.2.3 parslet
  - sudo apt-get install libffi-dev
  - cmake .
  - make
script: travis/run-tests.sh
notifications:
  recipients:
    - graham@stormbrew.ca
  email:
    on_success: change
    on_failure: always
rvm:
  - 1.8.7
